<a href="https://colab.research.google.com/github/nikaciaboing/Pythonquest.colab/blob/main/compreen%C3%A7%C3%A3odelista.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Crie uma lista com os números de 1 a 10 usando compreensão de lista.

In [1]:
numeros = [x for x in range(1, 11)]
print(numeros)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Crie uma lista com os números ímpares de 1 a 50.

In [ ]:
numerosimpares = [x for x in range(1, 51) if x % 2 != 0]
print(numerosimpares)

3. Crie uma lista com as letras maiúsculas de uma string qualquer.

In [3]:
string = "EXEMPLO De StrIng CoM LeTrAs MaIúscULaS"
letrasmaiusculas = [letra for letra in string if letra.isupper()]
print(letrasmaiusculas)

['E', 'X', 'E', 'M', 'P', 'L', 'O', 'D', 'S', 'I', 'C', 'M', 'L', 'T', 'A', 'M', 'I', 'U', 'L', 'S']

4. Crie uma lista com o comprimento de cada palavra em uma string.

In [5]:
string = "Atividade em python"
comprimentospalavras = [len(palavra) for palavra in string.split()]
print(comprimentospalavras)

[9, 2, 6]

5. Crie uma lista com os números divisíveis por 3 e 5 de 1 a 30.

In [6]:
divisiveis3e5 = [x for x in range(1, 31) if x % 3 == 0 and x % 5 == 0]
print(divisiveis3e5)

[15, 30]

6. Crie uma lista com as palavras de uma string que tenham mais de 3 letras.

In [7]:
string = "Palavra Aleatória"
palavramaiorq3 = [palavra for palavra in string.split() if len(palavra) > 3]
print(palavramaiorq3)

['Palavra', 'Aleatória']

7. Crie uma lista com os números primos de 1 a 20. Dica: use uma função para
verificar se o número é primo ou não.

In [9]:
def primo(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

numerosprimos = [x for x in range(1, 21) if primo(x)]
print(numerosprimos)

[2, 3, 5, 7, 11, 13, 17, 19]

8. Crie uma lista com as datas de todos os dias de janeiro em um ano bissexto
(considerando que um ano bissexto é divisível por 4).

In [10]:
import datetime

anobissexto = 2024
datasjaneiro = [datetime.date(anobissexto, 1, dia) for dia in range(1, 32)]
print(datasjaneiro)

[datetime.date(2024, 1, 1), datetime.date(2024, 1, 2), datetime.date(2024, 1, 3), datetime.date(2024, 1, 4), datetime.date(2024, 1, 5), datetime.date(2024, 1, 6), datetime.date(2024, 1, 7), datetime.date(2024, 1, 8), datetime.date(2024, 1, 9), datetime.date(2024, 1, 10), datetime.date(2024, 1, 11), datetime.date(2024, 1, 12), datetime.date(2024, 1, 13), datetime.date(2024, 1, 14), datetime.date(2024, 1, 15), datetime.date(2024, 1, 16), datetime.date(2024, 1, 17), datetime.date(2024, 1, 18), datetime.date(2024, 1, 19), datetime.date(2024, 1, 20), datetime.date(2024, 1, 21), datetime.date(2024, 1, 22), datetime.date(2024, 1, 23), datetime.date(2024, 1, 24), datetime.date(2024, 1, 25), datetime.date(2024, 1, 26), datetime.date(2024, 1, 27), datetime.date(2024, 1, 28), datetime.date(2024, 1, 29), datetime.date(2024, 1, 30), datetime.date(2024, 1, 31)]

9. Crie uma lista de strings com os primeiros 10 nomes da lista de nomes.

In [11]:
nomes = ["Ana", "Bruno", "Carlos", "Daniela", "Eduardo", "Fernanda", "Gabriel", "Helena", "Igor", "Juliana", "Lucas", "Mariana"]
primeiros10nomes = nomes[:10]
print(primeiros10nomes)

['Ana', 'Bruno', 'Carlos', 'Daniela', 'Eduardo', 'Fernanda', 'Gabriel', 'Helena', 'Igor', 'Juliana']

10. Crie uma lista de strings com os nomes dos primeiros 10 nomes da lista de
nomes, mas com as primeiras letras maiúsculas.

In [12]:
nomes = ["ana", "bruno", "carlos", "daniela", "eduardo", "fernanda", "gabriel", "helena", "igor", "juliana", "lucas", "mariana"]
nomesmaiuscula = [nome.capitalize() for nome in nomes[:10]]
print(nomesmaiuscula)

['Ana', 'Bruno', 'Carlos', 'Daniela', 'Eduardo', 'Fernanda', 'Gabriel', 'Helena', 'Igor', 'Juliana']

11. Crie uma lista de strings com os nomes dos primeiros 10 nomes da lista de
nomes, mas sem as vogais.

In [13]:
lista_nomes = ["Ana", "Bruno", "Carlos", "Daniela", "Eduardo", "Fernanda", "Gabriel", "Helena", "Igor", "Juliana", "Lucas", "Mariana"]
vogais = "aeiouAEIOU"

primeiros10nomesemvogais = [''.join([letra for letra in nome if letra not in vogais]) for nome in lista_nomes[:10]]
print(primeiros10nomesemvogais)

['n', 'Brn', 'Crls', 'Dnl', 'drd', 'Frnnd', 'Gbrl', 'Hln', 'gr', 'Jln']

12. Concatenar elementos de sub-listas em uma única lista

In [15]:
sublistas = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
listaconcatenada = [elemento for sublista in sublistas for elemento in sublista]
print(listaconcatenada)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

13. Criar um dicionário a partir de duas listas

In [16]:
chaves = ["nome", "idade", "cidade"]
valores = ["Ana", 25, "São Paulo"]

dicionario = dict(zip(chaves, valores))
print(dicionario)

{'nome': 'Ana', 'idade': 25, 'cidade': 'São Paulo'}